header, main {
  width: 70vw;
  margin: 0 auto;
}

header {
  display: flex;  
  border: 1px solid black;
}

header input {
  flex-grow: 1;
  border: none;
  border-right: 1px solid black;
}
header button{
  border: none;
}

main div.container {
  display: flex;
}

main div.container span{
  display: inline-block;
  flex-grow: 1;
}